body {
    background-color: rgb(248, 248, 248);
}

.items {
    background-color: #eceff1 !important;
    color: black !important;
}

.items-active {
    background-color: #4caf50 !important;
    color: white !important;
}

.items:hover {
    cursor: pointer !important;
}

.items-active:hover {
    cursor: pointer !important;
}